
.icon-jquery:before { content: '\e800'; } /* '' */
.icon-javascript:before { content: '\e801'; } /* '' */
.icon-laravel:before { content: '\e802'; } /* '' */
.icon-php:before { content: '\e803'; } /* '' */
.icon-react:before { content: '\e804'; } /* '' */