footer.footer {
  //@include moulin_bg;
  //@include rebel_bg;
  @include dark_triangles;
  color: #FFF;
  //@include mont_regular;
  @include cantarell_bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
  padding: 20px 0;

  div.copyright {
    opacity: 0.8;
  }
}