header.header {
  //@include moulin_bg;
  //@include rebel_bg;
  //@include lodyas_bg;
  @include dark_triangles;
  .header-inner {

    @media(min-width: $screen-sm) {
      display: flex;
      align-items: center;
      //justify-content: center;
      justify-content: space-between;
    }
    .site-title {
      @include cantarell_bold_italic;
      font-size: 3.5em;
      text-transform: uppercase;
      @media(max-width: 767px) {
        text-align: center;
        .site-title-inner {
          display: inline-block;
        }
      }
      @media(min-width: $screen-sm) {
        flex: 1;
      }

      a {
        color: $base-white;
        display: flex;
        align-items: center;
        .logo {
          margin: 0 3px;
          color: #FFF !important;
        }
        .logo_1 {
          color: $brand-second;
        }
        .logo_2 {
          color: $base-white;
        }
        .logo_3 {
          color: $brand-primary;
          font-size: 1.3em;
        }
        .logo_4 {
          color: $brand-third;
        }
        .logo_5 {
          color: $brand-fourth;
        }
      }
    }
    .nav {
      height: 100%;

      ul {
        display: flex;
        color: #FFF;
        font-size: 2em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        @media(max-width: 639px) {
          background-color: rgba(255,255,255,0.05);
          background-color: darken($brand-primary-dark, 5%);
          justify-content: space-between;
        }
        li {
          flex: 1 1 33%;
          height: 100%;
          a {
            color: #FFF;
            padding: 20px 20px 20px 15px;
            height: 100%;
            text-align: center;
            //height: 100px;
            display: block;
            @include cantarell_bold_italic;
            @media(max-width: 767px) {
              font-size: 0.8em;
              padding: 15px 15px 15px 10px;
            }
            &:hover {
              color: $brand-primary;
              //background: red;
            }
          }
          &.current-menu-item {
            a {
              background: $brand-primary-dark;
              &:hover {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}