header.header {
  //@include moulin_bg;
  @include rebel_bg;
  .header-inner {

    @media(min-width: $screen-sm) {
      display: flex;
      align-items: center;
      //justify-content: center;
      justify-content: space-between;
    }
    .site-title {
      @include cantarell_bold_italic;
      font-size: 3.5em;
      text-transform: uppercase;
      @media(max-width: 767px) {
        text-align: center;
        .site-title-inner {
          display: inline-block;
        }
      }
      @media(min-width: $screen-sm) {
        flex: 1;
      }

      a {
        color: $base-white;
        display: flex;
        align-items: center;
        .logo {
          margin: 0 3px;
          color: #FFF !important;
        }
        .logo_1 {
          color: $brand-second;
        }
        .logo_2 {
          color: $base-white;
        }
        .logo_3 {
          color: $brand-primary;
          font-size: 1.3em;
        }
        .logo_4 {
          color: $brand-third;
        }
        .logo_5 {
          color: $brand-fourth;
        }
      }
    }
    .nav {

      ul {
        display: flex;
        color: #FFF;
        font-size: 2em;
        list-style-type: none;
        @media(max-width: 767px) {
          background-color: rgba(255,255,255,0.05);
          justify-content: center;
          padding: 10px 0;
          margin-top: 5px;
          margin-bottom: 0;
        }
        li {
          margin: 0 15px;
          a {
            color: #FFF;
            @include cantarell_bold_italic;
            &:hover {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}