// .homepage-large-text {
//   text-align: center;
//   padding: 30px 10px;
//   h1 {
//     font-size: 3em;
//     line-height: 1.3em;
//     color: #222;
//     margin-bottom: 0;
//     @media(min-width: $screen-sm) {
//       font-size: 5em;
//       line-height: 1.3em;
//     }
//   }
//   p {
//     @include lato_regular;
//     color: #000;
//     font-size: 1.5em;
//     @media(min-width: $screen-sm) {
//       font-size: 1.7em;
//     }
//   }
// }

.hompage-image-wrap {
  //background: #222;
  background-color: $brand-primary-dark;
  //background-image: url('../img/galaxy.jpg');
  //background-image: url('../img/city.jpg');
  background-size: cover;
  flex: 1;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;

  .homepage-large-text {
    text-align: center;
    padding: 10px 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    h1 {
      font-size: 3em;
      line-height: 1.3em;
      color: #FFF;
      margin: 0;
      @media(min-width: $screen-sm) {
        font-size: 6em;
        line-height: 1.3em;
      }
    }
    p {
      @include lato_regular;
      color: #EEE;
      font-size: 1.5em;
      @media(min-width: $screen-sm) {
        font-size: 3.5em;
      }
    }
  }
}