.homepage-large-text {
  text-align: center;
  padding: 5px 10px 35px;
  h1 {
    font-size: 5em;
    line-height: 1.3em;
    color: #222;
    margin-bottom: 0;
  }
  p {
    @include lato_regular;
    color: #000;
    font-size: 1.7em;
  }
}