// project archive
.projects-wrap {
  background-color: #DDD;
  min-height: 100%;
  @media(min-width: $screen-sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media(min-width: $screen-md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  position: relative;
  margin: 0 auto;
  .project-item-wrap {
    position: relative;
    min-height: 330px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #DDD;
    @media(min-width: $screen-sm) {
      border-right: 1px solid rgba(0,0,0,0.07);
      border-bottom: 1px solid rgba(0,0,0,0.07);
    }
    .project-title {
      h2 {
        color: #222;
        background-color: rgba(0, 0, 0, 0.08);
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding: 4px 0;
      }
    }
    .hover-shade {
      position: absolute;
      z-index: 1000;
      width: 100%;
      height: 100%;
      background-color: rgba($brand-primary, .2);
      display: none;
      align-items: center;
      justify-content: center;

      .project-item-circle {
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brand-primary;
        color: #FFF;
        font-size: 24px;
        border-radius: 50%;
        font-weight: 600;
        border: 2px solid #FFF;
      }
    }
    &:hover {
      opacity: 0.9;
      .hover-shade {
        display: flex;
      }
    }
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}


// single project
.project-single {
  background: $brand-primary-dark;
  color: #FFF;
  padding-top: 23px;


  .project-single-content {
    // @media(min-width: $screen-sm) {
    //   display: flex;
    // }
    padding-bottom: 20px;
    .project-bio {
      font-size: 17px;
      padding: 0 15px;
      text-shadow: 1px 1px rgba(0,0,0,0.1);
    }

    .visit-link-wrap {
      a {
        background: $brand-primary;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.1);
        padding: 5px 13px 6px;
        //border-radius: 4px;
        font-size: 0.6em;
        &:hover {
          background-color: darken( $brand-primary, 3%);
        }
      }
    }

  }
  .project-gallery {
    @media(min-width: $screen-sm) {
      display: flex;
      padding: 10px 15px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .gallery-image {
      padding: 30px;
      @media(min-width: $screen-sm) {
        flex: 0 1 32%;
        padding: 0;
        margin-bottom: 28px;
      }
      a {
        img {
          border: 1px solid #EEE;
        }
        &:hover {
          opacity: 0.85;
          img {
            border-color: lighten($brand-primary, 20%);
          }
        }
      }
    }
  }
  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0 15px 5px;
    //padding-bottom: 5px;
    margin: 0 15px;
    border-bottom: 1px solid darken($brand-primary, 15%);
    h1 {
      flex: 1 1 25%;
      font-size: 42px;
      text-shadow: 1px 1px rgba(0,0,0,0.1);
      white-space: nowrap;
    }
    .tech-wrap {
      flex: 1 1 75%;

      technologies {
         justify-content: flex-end;
        .tech-item {
          min-height: auto;
          @media(min-width: $screen-md) {
            flex: 0 1 15%;
          }
          .tech-icon {
            i {
              &:before {
                font-size: 30px;

                @media(min-width: $screen-sm) {
                  font-size: 42px;
                }
              }
              &.fab {
                &:before {
                  font-size: 33px;

                  @media(min-width: $screen-sm) {
                    font-size: 55px;
                  }
                }
              }
            }
          }
        }
      }

    }

  }
}