// this can be called blog formatting instead
// if I'm going to be making general blog posts that are not tutorials?

.crayon-syntax {
  //max-width: 500px;
  //margin: 0 auto;
}

.single-tutorial {
  h3 {
    //margin: 100px !important;
    //margin-bottom: -15px !important;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 20px 0 5px;
  }
  p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding-left: 1px;
  }
}

code {
  @include lato_bold;
  color: $brand-second;
}

special {
  @include lato_italic;
  color: #999;
  margin-left: 5px;
}

.two-items-wrap {
  h4 {
    margin: 7px 0;
    text-transform: uppercase;
    font-size: 17px;
  }
  p {
    margin: 0;
  }
  .crayon-syntax {
    //margin: 0 0 1px !important;
    margin: 0 !important;
  }
  @media(min-width: $screen-sm) {
    display: flex;
  }
  .inner-item {
    padding: 15px;
    @media(min-width: $screen-sm) {
      flex: 0 1 50%;
    }
    &.more-padding {
      padding-top: 52px;
    }
  }
}

.flexbox-example {

  background-color: $brand-primary;
  @include cantarell_bold;
  color: #FFF;
  height: 100%;
  font-size: 26px;

  .flexbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 120px;
  }

  .flexbox-example-1 {

  }
}

nav.flexbox-menu-example {
  background: $brand-fourth;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    &.flex-end {
      justify-content: flex-end;
    }
    &.center {
      justify-content: center;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.space-between {
      justify-content: space-between;
    }

    li {
      background: $brand-primary;
      a {
        padding: 10px;
        display: block;
        @include cantarell_bold;
        color: #FFF;
        text-decoration: none;
        &:hover {
          background: lighten($brand-primary, 5%);
          cursor: pointer;
        }
      }
    }
  }
}

.basic-repsponsive-layout {
  .container > * {
    padding: 10px;
  }
  header, footer {
    background: $brand-primary;
    color: #FFF;
    @include cantarell_bold;
  }
  footer {
    font-size: 12px;
  }
  .container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #DDD;
  }
  .content {
    flex: 1;
    &.with-sidebar {
      //flex: 0;
      margin-bottom: auto;
      display: flex;
      @media(max-width: $screen-sm) {
        flex-direction: column-reverse;
      }
      .sidebar {
        padding-right: 35px;
      }
      .text {
        padding-top: 15px;
      }
    }
  }
}

// tutorials archive
.tutorials-archive {
  font-size: 19px;
  p {
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
  }
  h2 {
    margin-bottom: 0;
    a {
      color: $brand-second;
      &:hover {
        color: darken( $brand-second, 5% );
      }
    }
  }
}
