$brand-primary: #08B2E3;
$brand-second: #EE6352;
$brand-third: #57A773;
$brand-fourth: #484D6D;
$base-white: #EFE9F4;
$bright-white: #F7F7F7;

$screen-sm: '768px';
$screen-md: '992px';
//$mont: 'Montserrat', sans-serif;