$brand-primary: #08B2E3;
$brand-primary-dark: darken( $brand-primary, 24% );
$brand-second: #00487C;
$brand-third: #57A773;
$brand-fourth: #484D6D;
$base-white: #EFE9F4;
$bright-white: #F7F7F7;
$background-gradient: linear-gradient(to bottom right, $brand-primary, #16C172);


$screen-sm: 640px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xlg: 1600px;
